svg {
  display: block;
  margin-left: 30vh;
  }

.d3Bar {
   margin: 0 auto;
   width: 70vw;
   height: 70vh;
}

g.tick text {
  font-size: 20px;
  fill: black;
}

g.tick line {
   visibility: hidden;
}

// g.hidden line {
//   display: none;
// }

#barChart {
  width: 650px !important;
  height: 600px !important;
}

#pieChart {
  width: 600px !important;
  height: 600px !important;
}

#commitsChart {
  width: 650px !important;
  height: 600px !important;
}
canvas {
  margin: auto;
  display: block;
  width: 100% !important;
  max-width: 1000px;
  height: auto !important;
}

#reposChart {
  text-align: center;
}

.title {
    text-align: center;
    color: #6A6A6A;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
